<html>


<head>
    <title>Cloudflare Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>


<body>
<header>
</header>



<div id="app">
    <main class="container">
        <form>
            <p>Status : {{ status }}</p>
            Networks
            <table>
                <th>
                    <tr>
                        <td>Network ID</td>
                        <td>Name</td>
                        <td>Mac</td>
                        <td>Status</td>
                        <td>Type</td>
                        <td>Device</td>
                        <td>ZeroTier Ip</td>
                    </tr>
                </th>
                <tr :key="batata[2]" v-for="batata in networks">
                    <td :key="item+batata[3]" v-for="item in batata">{{item}}</td>
                    <td>
                    <td><button @click.prevent="leaveNetwork(batata[0])">Leave</button></td>
                </tr>
            </table>
            Join new network
            <input type="text" placeholder='Type network ID here' v-model="this.inputnetwork"></input>
            <button @click.prevent="joinNetwork()">Join</button>
        </form>
    </main>
</div>
</body>
<script>
    data() {
        return {
            response: ''
        }
    },
    methods: {
        startCloudflared() {
            axios.post('http://localhost:8000/cloudflared')
                .then(response => {
                    this.response = response.data.message
                })
                .catch(error => {
                    this.response = error.response.data.error
                })
        }
    }

    var app = new Vue({
        el: "#app",
        data() {
            return {
                status: '-',
                networks: [],
            };
        },
        methods: {
            checkStatus() {
                axios.get('/v1.0/command/info').then((result) => {
                    this.status = result.data.stdout;
                    if (this.status.indexOf('ONLINE') > -1) {
                        this.network = this.status.split('info ')[1].split(' ')[0]
                    }
                })
                axios.get('/v1.0/command/networks').then((result) => {
                    this.networks = []
                    let lines = result.data.stdout.trim().split('\n')
                    lines.splice(0, 1)
                    for (let line of lines) {
                        let newline = line.split(' ')
                        newline.splice(0, 2)
                        this.networks.push(newline)
                    }
                })
            },
            joinNetwork() {
                axios.post(`/v1.0/command/create`).then((result) => {
                    this.status = result.data.stdout;
                    console.log(result.status)
                })
            },
            leaveNetwork(networkToLeave) {
                axios.post(`/v1.0/command/leave?network=${networkToLeave}`).then((result) => {
                    this.status = result.data.stdout;
                    console.log(result.status)
                })
            },
        },
        mounted() {
            this.checkStatus();
            setInterval(this.checkStatus, 5000);
        }
    });
</script>


</html>
