<html>


<head>
    <title>Cloudflare Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>


<body>
<header>
</header>



<div id="app">
    <div>
        <form @submit.prevent="startCloudflared">
            <button type="submit">Start Cloudflared Process</button>
        </form>
        <div v-if="output">{{ output }}</div>
    </div>
<!--    <main class="container">-->
<!--        <form>-->
<!--            <p>Status : {{ status }}</p>-->
<!--            Networks-->
<!--            <table>-->
<!--                <th>-->
<!--                    <tr>-->
<!--                        <td>Network ID</td>-->
<!--                        <td>Name</td>-->
<!--                        <td>Mac</td>-->
<!--                        <td>Status</td>-->
<!--                        <td>Type</td>-->
<!--                        <td>Device</td>-->
<!--                        <td>ZeroTier Ip</td>-->
<!--                    </tr>-->
<!--                </th>-->
<!--                <tr :key="batata[2]" v-for="batata in networks">-->
<!--                    <td :key="item+batata[3]" v-for="item in batata">{{item}}</td>-->
<!--                    <td>-->
<!--                    <td><button @click.prevent="leaveNetwork(batata[0])">Leave</button></td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            Join new network-->
<!--            <input type="text" placeholder='Type network ID here' v-model="this.inputnetwork"></input>-->
<!--            <button @click.prevent="joinNetwork()">Join</button>-->
<!--        </form>-->
<!--    </main>-->
</div>
</body>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            output: '',
            response: '',
        },
        methods: {
            startCloudflared: function () {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/v1.0/cloudflared');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        var response = xhr.responseText;
                        app.output += response;
                    }
                };
                xhr.send();
            }
        }
    });
</script>


</html>
